/**
 * http://colorschemedesigner.com/#3o61BrrqFuDwt
 */

/*
 * basic elements
 */
body {
  margin: 1em 2em;
  color: #0a335c;
}

h1 {
  color: #1c548a;
}

code {
  color: #8d4d0b;
}

.alert {
  border-radius: 0;
  border: 0;
  color: #0a335c;
}

.alert-info h4 {
  color: #1c548a;
}

.navbar .brand {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #1c548a;
}

div.highlight {
  text-align: left;
}

/* 
 * nav/navbar 
 */
 .navbar-inner {
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: 0;
  -webkit-box-shadow: none;
 }
 .nav-list > .active > a {
   /*background-color: #1c548a;*/
 }

/* 
 page specifics 
 */

 /* index */
.page-index {
  text-align: center;
}

.page-index .logo {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

/* library */
.page-library section {
  margin-top: 4em;
  /*margin-bottom: 20px;*/
  /*height: 500px;*/
} 

.page-library div.highlight {
   margin-bottom: 2em;
}

/* faq */

.page-faq h4 {
  margin-top: 2em;
}

/* download */
/*.page-download div {
  text-align: center;
}*/

.page-download ul.nav-tabs {
   float:none;
   display:inline-block;
   border: 0;
}

.page-download .nav-tabs > .active > a {
  border: 0;
}

.page-download div.highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}