---
layout: default
name: download
oracle_url: http://www.oracle.com/technetwork/java/javase/downloads/
---

<section>
  <h4 class="section-title">
    <span>Library Files</span>
    <hr/>
  </h4>
  <p>
    All the the jar files for jeo and its dependencies.
    <ul class="inline">
      <li>
         <i class="icon-arrow-down"></i>
         <a href="{{site.download_url}}/jeo/releases/download/{{site.version}}/jeo-{{site.version}}-lib.zip">jeo-{{site.version}}-lib.zip</a>
      </li>
    </ul>

    Alternatively the library can be obtained using a build tool like Maven or Gradle. See the 
    <a href="{{site.doc_url}}/getting-started.html">docs</a> for more details.
  </p>
</section>
<section>
  <h4 class="section-title">
    <span>Command Line Tools</span> <hr/>
  </h4>
  <p>
    The jeo command line tools. Packages are available for a number of platforms.
    <div class="text-center">
      <ul class="nav nav-pills" role="tablist">
        <li class="active">
          <a href="#osx" role="tab" data-toggle="tab">
            <i class="pic-os-osx-dark"></i> Mac
          </a>
        </li>
        <li>
          <a href="#ubuntu" role="tab" data-toggle="tab">
            <i class="pic-lin-ubuntu"></i> Ubuntu
          </a>
        </li>
        <li>
          <a href="#centos" role="tab" data-toggle="tab">
            <i class="pic-lin-centos"></i> CentOS
          </a>
        </li>
        <li>
          <a href="#fedora" role="tab" data-toggle="tab">
            <i class="pic-lin-fedora"></i> Fedora
          </a>
        </li>
        <li>
          <a href="#windows" role="tab" data-toggle="tab">
            <i class="pic-os-win-03"></i> Windows
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="osx">
        <p>
          Mac users can install with <a href="http://brew.sh">Homebrew</a>.
        </p>
        <ol>
          <li>
            <p>
            Tap and install with <tt>brew</tt>
            </p>
            {% highlight bash %}
$ brew tap jeo/jeo
$ brew install jeo
            {% endhighlight %}
          </li>
          <li>
            <p>
            Run it.
            {% highlight bash %}
$ jeo --version
            {% endhighlight %}
            </p>
          </li>
        </ol>
        <p>
          See the <a href="{{site.doc_url}}/cli/install.html#mac-osx">docs</a> for additional notes 
          about installation on osx.
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="ubuntu">
        <p>
          Ubuntu packages are available for precise and trusty 64 bit.
          <ol>
            <li>
              <p>
              Download <a href="{{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo_{{site.version}}_amd64.deb">jeo_{{site.version}}_amd64.deb</a> and install with <tt>dpkg</tt>
              </p>
              {% highlight bash %}
$ wget {{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo_{{site.version}}_amd64.deb
$ sudo dpkg -i jeo_{{site.version}}_amd64.deb
              {% endhighlight %}
            </li>
            <li>
              <p>
              Run it.
              {% highlight bash %}
  $ jeo --version
              {% endhighlight %}
              </p>
            </li>
          </ol>
        </p>
        <p>
        See the <a href="{{site.doc_url}}/cli/install.html#ubuntu">docs</a> for additional notes 
        about installation on Ubuntu.
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="centos">
        <p>
          RPM packages are available for CentOS 6 64 bit.
          <ol>
            <li>
              <p>
              Download <a href="{{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo-{{site.version}}-1.el6.x86_64.rpm">jeo-{{site.version}}-1.el6.x86_64.rpm</a> and install with <tt>rpm</tt>:
              </p>
      {% highlight bash %}
$ wget {{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo-{{site.version}}-1.el6.x86_64.rpm
$ sudo rpm -ivh jeo-{{site.version}}-1.el6.x86_64.rpm
      {% endhighlight %}
            </li>
            <li>
              <p>
              Run it.
              {% highlight bash %}
$ jeo --version
              {% endhighlight %}
              </p>
            </li>
          </ol>
        </p>
        <p>
        See the <a href="{{site.doc_url}}/cli/install.html#centos">docs</a> for additional notes about installation on CentOS.
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="fedora">
        <p>
          RPM packages are available for Fedora 21+ 64 bit.
          <ol>
            <li>
              <p>
              Download <a href="{{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo-{{site.version}}-1.fc21.x86_64.rpm">jeo-{{site.version}}-1.fc21.x86_64.rpm</a> and install with <tt>rpm</tt>:
              </p>
      {% highlight bash %}
$ wget {{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo-{{site.version}}-1.fc21.x86_64.rpm
$ sudo rpm -ivh jeo-{{site.version}}-1.fc21.x86_64.rpm
      {% endhighlight %}
            </li>
            <li>
              <p>
              Run it.
              {% highlight bash %}
$ jeo --version
              {% endhighlight %}
              </p>
            </li>
          </ol>
        </p>
        <p>
        See the <a href="{{site.doc_url}}/cli/install.html#fedora">docs</a> for additional notes about installation on Fedora.
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="windows">
        <p>
        No native packaging is available for Windows at this time. However jeo can be installed manually 
        on Windows via the platform independent archive.
        </p>
        <ol>
          <li>
            <p>
            Ensure a Java 8 runtime is installed. Installers can be downloaded from <a href="{{page.oracle_url}}">Oracle</a>. Ensure java is on the Windows <tt>PATH</tt> or set the <tt>JAVA_HOME</tt> environment variable.
            </p>
          </li>
          <li>
            <p>
            Download and unpack <a href="{{site.download_url}}/jeo-cli/releases/download/{{site.version}}/jeo-{{site.version}}-cli.zip">jeo-{{site.version}}-cli.zip</a>
            </p>
          </li>
          <li>
            <p>
            Updated the Windows <tt>PATH</tt> to include the <tt>bin</tt> directory from the unpacked archive.
            </p>
          </li>
          <li>
            <p>
            Run it.
            {% highlight batch %}
$ jeo --version
            {% endhighlight %}
            </p>
            </li>
        </ol>
      </div>
    </div>

  </p>
</section>
