---
layout: default
name: library
---

<style>
    .content section {
  
    /*margin-bottom:20px;*/
    /*height:500px;*/
}
    </style>
<body data-spy="scroll" data-target="#side-nav">
   <div class="row">
    <div id="side-nav" class="span3">
      <ul class="nav nav-list affix">
        <li><a href="#geom">Geometry</a></li>
        <li><a href="#proj">Projection</a></li>
        <li><a href="#data">Data</a>
         <ul class="nav nav-list">
            <li><a href="#vector-data">Vector Data</a></li>
         </ul>
        </li>
      </ul>
    </div>
    <div class="span9 content">
      {{ content }}
    </div>
    </div>
  </div>
</body>



    

